<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbConn" connectionString="Data Source=.\sqlexpress;Initial Catalog=FindItOut;User Id=sa;Password=sa1;"/>
    <!--<add name="dbConn" connectionString="Data Source=192.168.1.112;Initial Catalog=FindItOut;User Id=sa;Password=DesertGLORy;" />-->
  </connectionStrings>
  <appSettings>
    <!--Correo-->
    <add key="EmpresasFiles" value="~/EmpresasFiles/"/>
    <add key="CarpetaSucursales" value="Sucursales"/>
    <add key="CarpetaLogo" value="Logo"/>
    <add key="XMLFolder" value="~/EmailFiles/"/>
    <add key="XMLEmail" value="MailLayout.xml"/>
    <add key="GDLAppUser" value="appuser"/>
    <add key="GDLAppUserPass" value="dEsertAPp1"/>
    <add key="USAAppUser" value="appuser"/>
    <add key="USAAppUserPass" value="Dglory210"/>
    <add key="SMTPClient" value="smtpout.secureserver.net"/>
    <add key="SMTPPort" value="25"/>
    <add key="NCusername" value="mmorfin7@hotmail.com"/>
    <add key="NCpassword" value="mmorfin1!"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
