<table>
    <tr>
        <td>
            <div class="categoryHeader">
                <span class="">
                  <%= idCategory  %> <%= categoryName%>
                </span>
                 <% if(idCategory > 0 ) {%>
                <button id="btnDeleteCategory" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    role="button" title="Delete">
                    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">
                        Delete</span>
                </button>
                <% } %>
                <button id="btnEditCategory" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    role="button" title="Save">
                    <span class="ui-button-icon-primary ui-icon ui-icon-<% if(idCategory > 0 ) {%>pencil<% }else{ %>plus<% } %>">
                    </span><span class="ui-button-text">Save</span>
                </button>
               
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="cat_<%= idCategory %>">
            </div>
        </td>
    </tr>
</table>
