<table>
    <tr>
        <td>
            <%= idProduct%>
            <button id="btnEditProduct" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                role="button" title="Button with icon only">
                <span class="ui-button-icon-primary ui-icon ui-icon-<% if(idProduct > 0 ) {%>pencil<% }else{ %>plus<% } %>">
                </span><span class="ui-button-text">Button with icon only</span>
            </button>
            <% if(idProduct > 0 ) {%>
            <button id="btnDeleteProduct" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                role="button" title="Delete">
                <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">
                    Delete</span>
            </button>
            <% } %>
        </td>
    </tr>
    <tr>
        <td>
            <%= active%>
        </td>
    </tr>
    <tr>
        <td>
            <%= productName%>
        </td>
    </tr>
    <tr>
        <td>
            <div id="prod_<%= idProduct %>" class="productImages">
                <!--<ul>-->
                    <%
                var ProductImages = this.model.get('ProductImages');
                if(ProductImages){  
                    for(i=0; i<ProductImages.length; i++){              
                    %>
                <!--    <li>-->
                        <img src="../EmpresasFiles/<%= hdnCo %>/products/<%= idProduct %>/<%=ProductImages[i].fileName %>" alt="<%=ProductImages[i].fileName %>" width="40px" height="40px"/>
                <!--    </li>-->
                    <%} }%>
                <!--</ul>  -->
            </div>
        </td>
    </tr>
</table>
